.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

.sidebar-search {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 10px;
  background-color: #f6f6f6;
}

.sidebar-search-container {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
}
.sidebar-search-container > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}
.sidebar-search-container > input {
  flex: 1;
  border: none;
  outline-width: 0;
  margin-left: 10px;

  border-radius: 30px;
  padding: 10px;
  border: none;
}

.sidebar-chats {
  background-color: white;
  flex: 1;
  overflow: scroll;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}